.tablist {
	display: flex;
	gap: 10px;
}

.row {
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.column {
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
}
